* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #1a0033, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}
.text {
  padding-bottom: 40px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
}

.container {
  text-align: center;
}

.start-btn {
  padding: 18px 60px;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4), 0 0 40px rgba(0, 255, 255, 0.2);
  transition: 0.4s ease;
}

.start-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 0 0 60px rgba(0, 255, 255, 0.5);
}

.message {
  margin-top: 40px;
  font-size: 36px;
  opacity: 0;
  transition: 1s ease;
  text-shadow: 0 0 15px cyan;
}

.show {
  opacity: 1;
  transform: scale(1.05);
}
